/*!
 * The PHP Project Main Style
 * Author: Najem Uness
 * ================================*/
body {
  color: #333;
  background-color: #f1f1f1; }

button, a {
  outline: none; }

a:hover {
  text-decoration: none; }

::selection {
  color: #FFF;
  background-color: #cf640b; }

.hr-dashed {
  border-top: 1px dashed #e7eaec;
  color: #fff;
  background-color: #fff;
  height: 1px;
  margin: 20px 0; }

.hr-fancy {
  display: block;
  height: 8px;
  background: url(../img/hr.png) repeat-x;
  margin: 15px 0;
  border: 0; }

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.pace-inactive {
  display: none; }

.pace .pace-progress {
  background: #f37c1a;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px; }

.login-msg {
  height: 41px;
  padding-left: 50px;
  background: url(../img/sprites.png) 0px -1230px no-repeat; }
  .login-msg p {
    color: #9498a1;
    font-size: 10px;
    line-height: 14px; }

@media (min-width: 768px) {
  body.sidenav-toggled #content {
    margin-left: 0px; }
  body.sidenav-toggled #sidebar {
    left: -230px; } }

@media (max-width: 768px) {
  body {
    overflow-x: hidden; }
    body #sidebar {
      left: -230px; }
    body.sidenav-toggled #content {
      margin-left: 0; }
    body.sidenav-toggled #sidebar {
      left: 0; } }

#main-content {
  position: relative; }

#content {
  background-color: #F2F2F2;
  transition: margin-left 0.3s ease; }
  @media (min-width: 768px) {
    #content {
      margin-left: 230px; } }
  @media (max-width: 768px) {
    #content {
      min-width: 100%; } }
  @media print {
    #content {
      margin: 0;
      padding: 0;
      background-color: #fff; } }

#main {
  min-height: calc(100vh - 82px); }

.btn-white {
  border-color: rgba(24, 28, 33, 0.1);
  border-color: #dadce0;
  background: transparent;
  color: #5f6368;
  box-shadow: none; }
  .btn-white:hover {
    background: rgba(24, 28, 33, 0.06);
    background-color: rgba(32, 33, 36, 0.059);
    color: #5f6368; }
  .btn-white:focus {
    box-shadow: 0 0 0 2px rgba(2, 3, 3, 0.05); }

.btn-default {
  color: #5a5a5a;
  background-color: #f3f3f3;
  text-shadow: 0 1px 0 white;
  border: solid 1px gainsboro; }
  .btn-default:hover {
    color: #414040;
    border-color: #999;
    border-color: #a7a6a6; }

#navbar-dark {
  min-height: 2.6rem;
  padding: 0; }
  #navbar-dark .nav-link {
    display: block;
    padding: 12px;
    position: relative;
    white-space: nowrap; }
    #navbar-dark .nav-link:hover {
      background: rgba(255, 255, 255, 0.15); }
    #navbar-dark .nav-link::after {
      bottom: 0;
      content: "";
      display: none;
      height: 4px;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0; }
    #navbar-dark .nav-link.active {
      color: #f7f7f7; }
      #navbar-dark .nav-link.active::after {
        background: #56c7ff;
        display: block;
        opacity: 1; }

/* CodeMirror Plugin */
.CodeMirror {
  font-size: 13px;
  border: 1px solid #d6d6d6; }

/* Quill Editor Plugin */
#editor-container {
  height: 200px; }

.widget-content {
  padding: 1rem;
  flex-direction: row;
  align-items: center; }
  .widget-content .widget-content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center; }
  .widget-content .widget-content-right {
    margin-left: auto; }
    .widget-content .widget-content-right.widget-content-actions {
      visibility: hidden;
      opacity: 0;
      transition: opacity .2s; }
  .widget-content:hover .widget-content-right.widget-content-actions {
    visibility: visible;
    opacity: 1; }
  .widget-content .widget-content-left .widget-heading {
    opacity: .8;
    font-weight: bold; }

.todo-list-wrapper .todo-indicator {
  position: absolute;
  width: 4px;
  height: 60%;
  border-radius: .3rem;
  left: .625rem;
  top: 20%;
  opacity: .6;
  transition: opacity .2s; }

.flex2 {
  flex: 2; }
