/*!
 * The PHP Project Main Style
 * Author: Najem Uness
 * ================================*/
body {
  color: #333;
  background-color: #f1f1f1; }

button, a {
  outline: none; }

a:hover {
  text-decoration: none; }

::selection {
  color: #FFF;
  background-color: #cf640b; }

.hr-dashed {
  border-top: 1px dashed #e7eaec;
  color: #fff;
  background-color: #fff;
  height: 1px;
  margin: 20px 0; }

.hr-fancy {
  display: block;
  height: 8px;
  background: url(../img/hr.png) repeat-x;
  margin: 15px 0;
  border: 0; }

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.pace-inactive {
  display: none; }

.pace .pace-progress {
  background: #f37c1a;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px; }

.login-msg {
  height: 41px;
  padding-left: 50px;
  background: url(../img/sprites.png) 0px -1230px no-repeat; }
  .login-msg p {
    color: #9498a1;
    font-size: 10px;
    line-height: 14px; }

.btn-white {
  border-color: rgba(24, 28, 33, 0.1);
  border-color: #dadce0;
  background: transparent;
  color: #5f6368;
  box-shadow: none; }
  .btn-white:hover {
    background: rgba(24, 28, 33, 0.06);
    background-color: rgba(32, 33, 36, 0.059);
    color: #5f6368; }
  .btn-white:focus {
    box-shadow: 0 0 0 2px rgba(2, 3, 3, 0.05); }

.btn-default {
  color: #5a5a5a;
  background-color: #f3f3f3;
  text-shadow: 0 1px 0 white;
  border: solid 1px gainsboro; }
  .btn-default:hover {
    color: #414040;
    border-color: #999;
    border-color: #a7a6a6; }
