// Page common styles

body {
	// On large devices make sidebar visible by default
	// adding sidenav-toggled class will close sidebar
	@media(min-width: 768px) {
		&.sidenav-toggled {
			#content { margin-left: 0px; }
			#sidebar { left: -$sidebar-width; }
		}
	}
	// On small devices make sidebar collapsed by default
	// adding sidenav-toggled class will open sidebar
	@media(max-width: 768px) {
		overflow-x: hidden;
		#sidebar { left: -$sidebar-width; }
		&.sidenav-toggled {
			#content { margin-left: 0; }
			#sidebar { left: 0; }
		}
	}
}

#main-content{
	position: relative;
}

#content {
	// min-height: calc(100vh - 46px);
	background-color: #F2F2F2;
	transition: margin-left 0.3s ease;
	@media(min-width: 768px) { margin-left: $sidebar-width; }
	@media(max-width: 768px) { min-width: 100%; }
	// @media(max-width: 480px) { padding: 0px; }
	@media print { margin: 0; padding: 0; background-color: #fff; }
}

#main {
	min-height: calc(100vh - 82px);
}