// body{
// 	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
// 	font-size: 13px;
// 	font-weight: normal;
// 	color: #333;
// }
// get rid of the outline in all links
button,a{
	outline: none;
}

::selection {
	color: $white;
	background-color: darken($primary-color,10%);
}

.hr-dashed{
	border-top: 1px dashed #e7eaec;
	color: #fff;
	background-color: #fff;
	height: 1px;
	margin: 20px 0;
}
