body{
	// font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	// font-size: 13px;
	// font-weight: normal;
	color: #333;
	background-color: #f1f1f1;
}
// get rid of the outline in all links
button,a{
	outline: none; // get rid of the outline in all links
}

a {
	&:hover {
		text-decoration: none;
	}
}
::selection {
	color: $white;
	background-color: darken($primary-color,10%);
}

.hr-dashed{
	border-top: 1px dashed #e7eaec;
	color: #fff;
	background-color: #fff;
	height: 1px;
	margin: 20px 0;
}
.hr-fancy{
	display: block;
	height: 8px;
	background: url(../img/hr.png) repeat-x;
	margin: 15px 0;
	border:0;
}
