// Componant: Sidebar
#sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	padding-top: 20px;
	width: $sidebar-width;
	min-height: 100%;
	z-index: 10;
	background-color: $sidebar-color;
	color: $sidebar-link-color;
	box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
	transition: left 0.3s ease,
	width 0.3s ease;
	@media print { display: none; }
}

// Main Navigation style
aside {
	.nav{
		display: block;
	}
	.nav-link{
		position: relative;
		display: flex;
		align-items: center;
		padding: 12px 15px;
		font-size: 1.08em;
		border-left: 3px solid transparent;
		transition: border-left-color 0.3s ease,
		background-color 0.3s ease;
		color: $sidebar-link-color;
		&.active, &:hover, &:focus {
			background: darken($sidebar-color, 10);
			border-left-color: $primary-color;
			text-decoration: none;
			color: $sidebar-link-color;
		}
	}

	.nav-icon{
		flex:0 0 auto;
		width: 25px;
	}
	.nav-label{
		flex: 1 1 auto;
		white-space: nowrap;
	}
}

// Navigation treeview style
.treeview {
	&.is-expanded {
		[data-toggle='treeview'] {
			border-left-color: $primary-color;
			background: darken($sidebar-color, 10);
		}
		.treeview-menu { max-height: 100vh; }
		.treeview-indicator { transform: rotate(90deg); }
	}
}

.treeview-menu {
	padding-left: 0;
  	list-style: none;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease;
	background: lighten($sidebar-color, 4);
}

.treeview-item {
	display: flex;
	align-items: baseline;
	margin: 5px;
	padding: 5px 10px;
	font-size: 1em;
	color: $sidebar-link-color;
	border-radius: 5px;
	&.active, &:hover, &:focus {
		background: darken($sidebar-color, 10);
		text-decoration: none;
		color: $sidebar-link-color;
	}
	&.active i{color:$primary-color}
	.fa,.far,.fas { margin-right: 10px; }
}

.treeview-indicator {
	transform-origin: center;
	transition: transform 0.3s ease;
}

// Componant: Sidebar Mini

@media (min-width: 768px) {
	.app.sidenav-toggled {
		.profile,.treeview-indicator,.header-logo { display: none; }
		.avatar { width: 32px; height: 32px; }
		#content { margin-left: 50px; }
		#sidebar {
			left: 0;
			width: 50px;
			overflow: hidden;
			&:hover { overflow: visible; }
		}
		.nav-item {
			overflow: hidden;
			&:hover {
				overflow: visible;
				.nav-label { opacity: 1; }
				& + .treeview-menu { visibility: visible; }
			}
		}
		.nav-label {
			display: block;
			position: absolute;
			top: 0;
			left: 50px;
			min-width: 180px;
			padding: 12px 5px 12px 20px;
			margin-left: -3px;
			line-height: 1;
			opacity: 0;
			background: darken($sidebar-color, 10);
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}
		.treeview {
			&:hover {
				.nav-label { opacity: 1; }
				.treeview-menu {
					max-height: 100vh;
					opacity: 1;
					visibility: visible;
					z-index: 10;
				}
			}
			.nav-label { border-bottom-right-radius: 0; }
		}
		.treeview-menu {
			position: absolute;
			left: 50px;
			min-width: 180px;
			padding: 12px 0;
			opacity: 0;
			border-bottom-right-radius: 4px;
			z-index: 9;
			visibility: hidden;
			transition: visibility 0.3s ease;
		}
	}
}
