/* CodeMirror Plugin */
.CodeMirror {
  font-size: 13px;
  border:1px solid #d6d6d6;
}

/* Tagsinput Plugin */
.bootstrap-tagsinput{
  border: 1px solid rgba(24, 28, 33, 0.1);
  box-shadow: none;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}