.widget-content {
    padding: 1rem;
    flex-direction: row;
    align-items: center;

    .widget-content-wrapper {
        display: flex;
        flex: 1;
        position: relative;
        align-items: center;
    }

    .widget-content-right {
        margin-left: auto;
        &.widget-content-actions {
            visibility: hidden;
            opacity: 0;
            transition: opacity .2s;
        }
    }
    &:hover .widget-content-right.widget-content-actions {
    visibility: visible;
    opacity: 1;
}

    .widget-content-left .widget-heading {
        opacity: .8;
        font-weight: bold;
    }
}

.todo-list-wrapper .todo-indicator {
    position: absolute;
    width: 4px;
    height: 60%;
    border-radius: .3rem;
    left: .625rem;
    top: 20%;
    opacity: .6;
    transition: opacity .2s;
}

.flex2 {
    flex: 2;
}